#以'#'开始的行，被视为注释. 
                                                                                        

#忽略目录
#/STM32/Listing
#忽略文件                          
*.*
*.*.*
!.gitignore
!*.c
!*.h
#忽略文件   
!*.cpp
!*.rc
!*.aps
!*.ico
!*.vcxproj
!*.sln
!*.lib
!*.rc2
!*.dll
!*.she
!*.png
!*.ini
!*.qpf
!*.txt
!*.isl
!*.isproj
!*.msi
!*.txt
!*.filters


#忽略所有生成的 html文件,
#*.html

#foo.html是手工维护的，所以例外.
#!foo.html

# 忽略所有.o和 .a文件.
#*.[oa]



 
